// basic color
$white : #fff;
$black : #000;

// main
$mainColor : #006afa;

// signUp
$signBgColor: #002059;
$signBoxColor : #0d3782;

// gray
$gray100 : #ddd;

// navColor
$navBgColor: #fafafa;
$navLineColor: #ebebeb;
$navTextColor: #6f6f6f;
$navHoverColor: rgba(0, 0, 0, 0.03);
$navBottomColor: #d8d8d8;


// inputColor
$placeHolder : #6f6f6f;
//$selectColor : #6f6f6f;

// etc
$lineColor : #f6f6f6;
$errorColor : #f90e3c;




//
//
//
//
//
//
//
//
//
//
//
//
//$deepMainColor : #002059;
//$lightMainColor : #0d3782;
//
//// join color
////$joinBgColor: #002059;
////$joinBoxColor: #0d3782;
////$joinBoxTextColor: #ddd;
//// input color
//$placeholderColor: #27282e;
//$borderColorBasic: #e1e1e1;
//$borderColorMain: $mainColor;
//$buttonColorBasic: $mainColor;
//// nav
//$navBgColor: #fafafa;
//$navLineColor: #ebebeb;
//$navTextColor: #6f6f6f;
//$navHoverColor: rgba(0, 0, 0, 0.03);
//$navBottomColor: #d8d8d8;
//
////
////$main100 : #007aff;
////$main200 : #006afa;
////$main300 : #002059;
////$main400 : #0d3782;
////$black : #000;
////$white100 : #dcdcdc;
////$white200 : #dddddd;
////