<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>어드민 템플릿</title>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>

<div id="wrap">

    <div class="w50 bg-signBgColor t-white flex0 flex align-center justify-center">
        <div class="absolute pdw22 pdh40 top0 left0">
            <img class="h17 mgb25 block" src="../../img/logo-white.png" alt="Logo">
            <div class="in-block bg-signBoxColor letter48 radius3 clear pdh20 pdl15 pdr60">
                <div class="left mgr15">💡</div>
                <div class="right t-gray100">
                    <p class="fw-bold mgb5">보안을 위해 주소창을 체크하세요</p>
                    <p>https://www.tokenbank.co.kr/admin/login</p>
                </div>
            </div>
        </div>
        <div class="t-center">
            <span class="f40">“</span>
            <p class="f20 letter112 line-h165 fw-bold mgb60">
                복잡한 방식의 암호화폐 지갑을 사용하던 고객들이<br/>
                보다 쉽고 편리하게 암호화폐를 관리할 수 있을 것으로 기대한다
            </p>
            <img src="../../img/logo-sk.png" alt="Logo">
        </div>
    </div>

    <div class="w50 flex0 pdl10p flex justify-center flex-column">
        <div class="max-w460 input-type02">
            <form>
                <h1 class="f28 letter176 mgb40 pdl15">관리자 계정 가입하기</h1>
                <p class="f12 letter66 mgb5 op4 fw-medium pdl15">이메일</p>
                <label>
                    <input class="mgb35" type="text" placeholder="업무용 이메일을 입력해주세요">
                </label>
                <p class="f12 letter66 mgb5 op4 fw-medium pdl15">이름</p>
                <label>
                    <input class="mgb35" type="text" placeholder="이름을 입력해주세요">
                </label>
                <p class="f12 letter66 mgb5 op4 fw-medium pdl15">비밀번호</p>
                <label>
                    <input class="mgb35" type="text" placeholder="대문자, 숫자, 특수문자 가능">
                </label>
                <p class="f12 letter66 mgb5 op4 fw-medium pdl15">휴대폰번호 (선택)</p>
                <div class="flex align-center mgb40">
                    <label class="mgr10 flex1 block">
                        <select>
                            <option>+82</option>
                        </select>
                    </label>
                    <label class="flex3 block">
                        <input type="text">
                    </label>
                </div>
                <div class="t-center letter78">
                    <p class="op4 mgb10">진행하면 <a class="fw-bold" href="#">약관</a> 및 <a class="fw-bold" href="#">개인정보 취급 방침</a>에 동의하게 됩니다.</p>
                    <button class="btn-bg-main w100 btn-h58 mgb20 f17 letter94 fw-bold">가입하기</button>
                    <p><span class="op4">이미 계정이 있으신가요?</span> <a class="fw-bold in-block mgl10 t-main" href="#">로그인</a></p>
                </div>
            </form>
        </div>
    </div>

</div>

</body>
</html>